.btn-edit{
  background-color: #a3aab1;
  color: white;
  border-radius: 5px;

  transition: filter 0.2s;
}

.btn-edit:hover{
  filter: brightness(0.9);
}

.btn-exclude{
  background-color: #F23005;
  color: white;
  border-radius: 5px;

  transition: filter 0.2s;
}

.btn-exclude:hover{
  filter: brightness(0.9);
}

.task-item{
  background-color: #ccd3d941;
  padding: 20px;
  border-radius: 10px;

  -webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.18);
  box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.18);
}

.ng-select.custom {
  margin-left: 5px;
  width: 30%;
}

.modal-confirm-btn{
  background-color: rgb(49, 196, 49);

  transition: filter 0.2s;
}

.modal-confirm-btn:hover{
  filter: brightness(0.9);
}

.modal-close-btn{
  background-color: #CCD3D9;

  transition: filter 0.2s;
}

.modal-close-btn:hover{
  filter: brightness(0.9);
}
