<!-- Modal
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Nova tarefa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form mt-4" (ngSubmit)="cadastrar()" #cadastrarForm="ngForm">
          <div class="input-group">
            <span class="input-group-text input-group-text__override">Descrição</span>
            <textarea class="form-control" aria-label="With textarea"
            [(ngModel)]="descricao"
            name="descricao"
            #campoDescricao = "ngModel"
            required
            ></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Close</button>
            <button [disabled]="cadastrarForm.invalid" type="submit" class="btn modal-confirm-btn">Cadastrar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div> -->
