/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.modal-confirm-btn{
  background-color: rgb(49, 196, 49);

  transition: filter 0.2s;
}

.modal-confirm-btn:hover{
  filter: brightness(0.9);
}

.modal-close-btn{
  background-color: #CCD3D9;

  transition: filter 0.2s;
}

.modal-close-btn:hover{
  filter: brightness(0.9);
}
